
@{
    ViewBag.Title = "KhongCoQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6" style="margin:25px; width:96%">
    <div  class="mb-4">
        <div class="alert alert-danger" role="alert">Bạn không có quyền sử dụng chức năng này !</div>
    </div>
</div>
