
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg">
                <div class="card mb-4">
                    <div style="text-align:center; margin-top:10px">
                        <img src="~/Content/Images/yes.png" height="70px" width="70px" />
                    </div>
                    <div class="card-body">
                        <div style="text-align:center">
                            <h3>Thuê sách thành công!</h3>
                        </div>
                        <div style="text-align:center">
                            <a href="/Order/Index" class="btn btn-success">Xác nhận </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



