@model AThueSach.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Chi tiết đầu sách</title>
<div class="col-md-6" style="margin:25px; width:96%">
    <div class="card mb-4">
        <h5 class="card-header" style="text-align:center">Chi tiết đầu sách</h5>
            <div class="card-body">
                <div class="mt-2 mb-3">
                    <h6>Mã đầu sách</h6>
                    @Html.EditorFor(model => model.IDCate,
                        new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>

                <div class="mt-2 mb-3">
                    <h6>Tên đầu sách</h6>
                    @Html.EditorFor(model => model.NameCate,
                        new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
                <div style="text-align:right">
                    <div class="btn btn-outline-dark">
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </div>
    </div>
</div>

